
body{

	margin: 0;
	padding: 0;
	background-color: rgb(75, 191, 107);
  font-family: Helvetica,Arial,sans-serif;
}


header{

	background-color: rgba(0,0,0, 0.15);
	width: 100%;
	height: auto;

}

header img{

	width: 80px;
	opacity: 0.5;
	height: auto;
	cursor: pointer;
	margin:8px 0 5px;
	margin-left: 46%;
}

header img:hover{

	opacity: 0.9;

}

main{

	width: 100%;
	height: auto;
	padding: 2%;
}


/* ESTILO AÑADIR LISTA */

#lista{

	width: 23%;
	height: auto;
	padding: 5px;
  display: inline-block;
}



input{
    
    width: 92%;
    background-color: rgba(0,0,0, 0.15);
    padding: 11px;
    border: none;
    font-size: 14px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    cursor: pointer;

}

button{

	background-color: #5AAC44;
	box-shadow: 0 1px 0 #519839;
    color: #fff;
    border: none;
    padding: 7px 15px;
    font-size: 14px;
    margin-top: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-weight: 700;
}

button:hover{

	background-color:#4c9438;
}

button:focus{

  outline: none;
}

span{

	color: #999;
	margin-left: 5px;
}

span:hover{

	color: #666;
}

input:focus{
    
    outline: none;
    
}

input:hover{
    
    background-color: rgba(0,0,0, 0.3);
}



.hidden{

  display: none;

}

/*  CLASE PARA CUANDO APARECE INPUT */

.after{

	width: 23%;
	height: 800px;
	-webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  cursor: pointer;
  background-color: #E2E4E6;
    

}

.after input{


    width: 92%;
    background-color: rgba(0,0,0, 0.05);
    border: 1px solid ;
    padding: 11px;
    font-size: 14px;
    cursor: text;
    border: 1px solid grey;

}

/* TEXTO PLACEHOLDER */

::-webkit-input-placeholder { 
  color: #fff;
  opacity: 0.7;

}
::-moz-placeholder { 
  color: #fff;
  opacity: 0.7;
}
:-ms-input-placeholder { 
  color: #fff;
  opacity: 0.7;
}
:-moz-placeholder { 
  color: #fff;
  opacity: 0.7;
}


.after ::-webkit-input-placeholder { 
  color: grey;

}
.after ::-moz-placeholder { 
  color: grey;
}
.after :-ms-input-placeholder { 
  color: grey;
}
.after :-moz-placeholder { 
  color: grey;
}


/**** NUEVAS LISTAS **/




.newlist{

  width: 23%;
  height: auto;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  cursor: pointer;
  background-color: #E2E4E6;
  display: inline-block;
  vertical-align: top;
    

}


.newlist p{

  margin-left: 15px;
  font-size: 14px;
  font-weight: 600; 

}


/*
.newlist a{

  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  color: grey;
  text-decoration: none; 
  display: block;
 

}



.newlist a:hover{

  background-color: rgba(0,0,0, 0.1);
  color: #666;
  text-decoration: underline; 
  

}





.newlist input{

    background-color: #E2E4E6;
    width: 93%;
    padding: 11px;
    font-size: 14px;
    cursor: pointer;
  

}


.newlist input:hover{

    background-color: rgba(0,0,0, 0.1);
    

}

.newlist input:focus{

    height: 50px;
    background-color: white;
    padding: 11px;
    font-size: 14px;
    cursor: text;


}

*/



.newlist textarea{

    background-color: #E2E4E6;
    width: 92%;
    height: 15px;
    padding: 11px;
    font-size: 14px;
    cursor: pointer;
    border:none;
    resize: none;
    display: inline-block;
    outline: none;
  

}


.newlist textarea:hover{

    background-color: rgba(0,0,0, 0.1);
    

}



.input-card textarea{
    
    width: 88%; 
    height: 50px;
    background-color: white;
    margin: 6px;
    padding: 11px;
    font-size: 14px;
    cursor: text;
    outline: none;

}

#buttons-card{

  padding: 0 10px 10px;
}


/* TEXTO PLACEHOLDER */

.newlist ::-webkit-input-placeholder { 
  color: grey;

}
.newlist ::-moz-placeholder { 
 color: grey;
}
.newlist :-ms-input-placeholder { 
 color: grey;
}
.newlist :-moz-placeholder { 
  color: grey;
}




